html {

 background-color: rgb(253, 242, 227); 
}


body{

  font-family: 'Times New Roman', Times, serif;
  margin: 40px;
  padding: 40px;
  color: black;
  border-top: 10px solid #242424;
  background: #fff;
}

.sticky {

  position: sticky;
  top: 0;
}

h1 {

  font-size: 4em;
  margin: 0;
}

p {

  line-height: 1.4em;
}

section{

  display: flex;


}

article {

  padding: 20px;
  margin: 20px;
}

article:nth-of-type(1){
  flex: 1;
}

article:nth-of-type(2){
  flex: 4;
}

article:nth-of-type(3){
  flex: 4;
}


img {
  width: 300px;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}


.img-container{

  float: right;
  margin-left: 10px;


}



#blog {

  border-top: 1px dotted lightgray;

}

.blog-post {

  border-bottom: 1px dotted lightgray;


}

@media screen and (max-width: 616px) {
  header {
    background: #ED254E;
    display: block;
    padding: 0;
  }

  header ul li {
    display: block;
    border-top: 1px solid #011936;
  }

  header h1 {
    padding: 20px;
  }
}

@media screen and (min-width: 576px) {
  header {
    background: #F9DC5C;
    color: #011936;
  }
}

@media screen and (min-width: 768px) {
  header {
    background: #C2EABD;
  }
}

@media screen and (min-width: 992px) {
  header {
    background: #011936;
    color: #C2EABD;
  }
}

@media screen and (min-width: 1200px) {
  header {
    background: #465362;
  }
}

